html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

picture {
    font-size: 0;
}

 :root {
    --color-black: #000;
    --color-dark-shade-gray: #333;
    --color-medium-dark-shade-gray: #666;
    --color-medium-light-shade-gray: #999;
    --color-light-shade-purple-blue: #D1A9F0;
    --accent: #9D5CD0;
    --color-medium-light-shade-purple-blue: #C283F3;
    --color-white: #fff;
    --color-shade-purple-blue: #7943A4;
    --color-green: #30BF39;
    --color-blue: #26A5E4;
    --color-red: #D11616;
    --color--gray: #CACACA;
    --color-light-shade-gray: #ECECEC;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    outline: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 0;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.title {
    margin: 0 0 16px;
    font-size: 48px;
    line-height: 65px;
    font-weight: 400;
    color: var(--color);
}

.subbtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: var(--color);
}

.section-offset {
    padding: 80px 0;
}

body {
    color: var(--color);
    background-color: var(--color-white);
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
}

.container {
    max-width: 1630px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrappcolor {
    outline: none;
    position: relative;
    z-index: 1;
    transition: background-color .2s linear, color .2s linear;
}

.wrappcolor::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -6px;
    right: -6px;
    bottom: -6px;
    transition: background-color .2s linear;
    z-index: -1;
}

.wrappcolor:focus:focus-visible::before {
    background-color: var(--color-shade-purple-blue);
    color: var(--color-white);
}

.wrappcolor:hover {
    color: var(--color-medium-light-shade-purple-blue);
}

.wrappcolor:hover:focus:focus-visible::before {
    background-color: transparent;
}

.wrappcolor:hover .header__icon {
    fill: var(--color-medium-light-shade-purple-blue);
}

.wrappcolor:active {
    color: var(--color-shade-purple-blue);
    background-color: transparent;
}

.wrappcolor:active .header__icon {
    fill: var(--color-shade-purple-blue);
}


/* header */

.header {
    position: absolute;
    width: 100%;
    z-index: 2;
    opacity: 1;
    visibility: visible;
}

.fixed {
    position: fixed;
    opacity: 0;
    visibility: hidden;
}

.header.fixed {
    opacity: 1;
    visibility: visible;
}

.header.fixed .header__menu {
    padding: 5px 0;
}

.header.fixed .header__submenu {
    opacity: 0;
    overflow: hidden;
    display: none;
}

.header__menu-container {
    align-items: center;
}

.header__menu {
    width: 100%;
    background-color: var(--color-black);
    padding: 29px 0 28px;
}

.logo {
    margin-right: 179px;
}

.nav {
    margin-right: auto;
}

.nav__list-item:not(:last-child) {
    margin-right: 62px;
}

.nav__list-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: var(--color-white);
}

.header__admin {
    font-size: 18px;
    line-height: 25px;
    color: var(--color-white);
    position: relative;
}

.header__admin::after {
    content: '';
    width: 5px;
    height: 13px;
    background-color: var(--color-black);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: left .3s linear, background-color .2s linear;
}

.header__admin:focus:focus-visible:after {
    background-color: var(--color-shade-purple-blue);
}

.header__admin:hover:focus:focus-visible:after {
    background-color: var(--color-black);
}

.header__admin:hover:after {
    left: -5px;
}

.header__submenu {
    position: relative;
    padding: 23px 0 21px;
    background-color: rgba(0, 0, 0, 0.4);
}

.header__submenu-container {
    align-items: center;
    justify-content: space-between;
}

.header__list-item {
    position: relative;
}

.header__list-item.active-btn {
    background-color: rgba(0, 0, 0);
    transform: scale(1.05);
}

.header__list-item:focus-visible {
    outline: 0;
}

.simplebar-content-wrapper {
    overflow: auto;
}

.header__list-item:not(:last-child) {
    margin-right: 102px;
}

.header__btn {
    font-size: 18px;
    line-height: 25px;
    color: var(--color-white);
}

.arrow-down::after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    border-top: 1px solid;
    border-right: 1px solid;
    margin-left: 4px;
    margin-bottom: 3px;
    transform: rotate(135deg);
    transition: transform .1s linear;
}

.dropdown {
    width: 100%;
    min-width: 300px;
    max-height: 300px;
    background: rgba(0, 0, 0, .6);
    position: absolute;
    top: 46px;
    padding: 40px 19px 40px 40px;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.8) translate(-50px, -20px);
    transition-property: opacity, visibility, transform;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.dropdown__item {
    background-color: var(--color-black);
    width: 220px;
    height: 40px;
    padding: 9px 14px 12px;
    color: var(--color-white);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.dropdown__link {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding-left: 14px;
    display: flex;
    align-items: center;
    transition: box-shadow .3s linear, background-color .3s linear;
    outline: none;
}

.dropdown__link:hover,
.dropdown__link:focus {
    box-shadow: 0 0 0 2px var(--accent) inset;
}

.dropdown__link:active {
    background-color: rgba(209, 169, 240, 0.4);
}

.dropdown__link:active:focus {
    box-shadow: none;
}

.dropdown .simplebar-track.simplebar-vertical {
    background-color: var(--color-black);
    width: 2px;
}

.dropdown .simplebar-scrollbar {
    width: 2px;
    background-color: pink;
}

.active-dropdown {
    opacity: 1;
    visibility: visible;
    transform: none;
}

.dropdown__item:not(:last-child) {
    margin-bottom: 20px;
}

.header__btn.active-btn {
    color: var(--color-shade-purple-blue);
    background-color: transparent;
}

.header__btn.active-btn:focus:focus-visible::before {
    background-color: transparent;
}

.header__btn.active-btn:after {
    margin-bottom: 0px;
    transform: rotate(-45deg);
}

.dropdown__list {
    max-height: 220px;
    overflow: auto;
}

.form {
    align-items: center;
}

.form__input {
    min-width: 220px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
    color: var(--color-white)
}

.form__input::placeholder {
    font-size: 18px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.85);
}

.form__input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.form__input::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.form__input:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.form__input:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.form__input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.form__input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.form__input:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.form__input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.form__input:focus:focus-visible {
    border-bottom: 1px solid var(--color-shade-purple-blue);
}

.form__input:hover {
    border-bottom: 1px solid var(--color-medium-light-shade-purple-blue);
}


/* main */

.main {
    position: relative;
}


/* hero */

.hero {
    background-color: #696969;
    position: relative;
    z-index: 1;
    word-wrap: break-word;
}

.hero .hero__swiper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.hero__container {
    flex-direction: column;
    position: relative;
    z-index: 2;
    padding-top: 235px;
    padding-bottom: 122px;
}

.hero__title {
    width: 100%;
    max-width: 579px;
    color: var(--color-white);
    font-weight: 700;
    font-size: 72px;
    line-height: 96px;
    margin: 0;
    /* margin-bottom: 19px; */
}

.hero__text {
    width: 100%;
    max-width: 555px;
    color: var(--color-white);
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    margin: 0 0 90px;
}

.hero__btn {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: var(--color-white);
    background-color: var(--accent);
    border-radius: 100px;
    padding: 23px 35px;
    align-self: flex-start;
    /* margin-top: auto; */
    transition: box-shadow .2s linear, border .2s linear, background-color .2s linear;
    outline: none;
    position: relative;
    border: transparent;
}

.hero__btn::before {
    content: '';
    border-radius: 100px;
    border: none;
    position: absolute;
    transition: box-shadow .2s linear;
}

.hero__btn:focus:focus-visible::before {
    content: '';
    border-radius: 100px;
    border: 2px solid var(--color-medium-light-shade-purple-blue);
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
}

.hero__btn:hover {
    box-shadow: 0 0 0 3px var(--color-light-shade-purple-blue) inset;
}

.hero__btn:active {
    background-color: var(--color-shade-purple-blue);
    box-shadow: 0 0 0 3px var(--color-light-shade-purple-blue) inset;
}

.swiper__decor {
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 0;
}

.swiper__decor:focus {
    box-shadow: 0 0 0 3px var(--color-light-shade-purple-blue) inset;
}

.hero-slide:nth-child(n) {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-slide:nth-child(1) {
    background-image: url(../img/birmingham-museums-1.jpg);
}

.hero-slide:nth-child(2) {
    background-image: url(../img/birmingham-museums-2.jpg);
}

.hero-slide:nth-child(3) {
    background-image: url(../img/birmingham-museums-3.jpg);
}


/* about */

.about {
    padding-bottom: 72px;
}

.about__inner {
    width: 100%;
    max-width: 1080px;
}

.about__title {
    margin-bottom: 15px;
}

.about__text {
    margin: 0;
    line-height: 32px;
}


/* gallery */

.gallery {
    background-image: url(../img/gallery-bg.jpg);
    background-size: cover;
}

.gallery__title {
    color: var(--color-white);
}

.gallery__inner {
    justify-content: space-between;
    min-width: 0;
}

.gallery__filter {
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin-right: 50px;
}

.gallery__text {
    line-height: 32px;
    color: var(--color-white);
    margin-bottom: 9px;
    display: inline-block;
}

.gallery__checkbox {
    margin-top: auto;
    flex-direction: column;
}

.gallery__input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.gallery__label {
    cursor: pointer;
    position: relative;
    padding-left: 20px;
    color: var(--color-white);
    transition: color .3s linear;
}

.gallery__label:not(:last-child) {
    margin-bottom: 20px;
}

.gallery__label::before,
.gallery__label::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
}

.gallery__label::before {
    border: 1px solid var(--color-white);
    left: 0;
    transition: border .3s linear;
}

.gallery__label::after {
    width: 4px;
    height: 4px;
    background-color: var(--color-medium-light-shade-purple-blue);
    border-radius: 50%;
    left: 4px;
    transform: scale(0);
    transition: transform .3s linear;
}

.gallery__input:checked+.gallery__label,
.gallery__label:active {
    color: var(--color-medium-light-shade-purple-blue);
}

.gallery__input:checked+.gallery__label::before,
.gallery__label:active:before {
    border: 1px solid var(--color-medium-light-shade-purple-blue);
}

.gallery__input:checked+.gallery__label::after,
.gallery__label:active:after {
    transform: translateY(-50%) scale(1);
}

.gallery__label:focus,
.gallery__label:focus-within,
.gallery__label:focus-visible {
    outline: none;
    color: var(--color-medium-light-shade-purple-blue);
}

.gallery__label:focus::before {
    border: 1px solid var(--color-medium-light-shade-purple-blue);
}

.gallery__label:not(:focus):hover:before {
    border: 1px solid var(--color-medium-light-shade-purple-blue);
}

.gallery-swiper {
    padding-top: 24px;
    width: calc(1150 / 1600 * 100%);
    margin-right: 0;
}

.slides-container {
    overflow: hidden;
}

.gallery-navigation {
    padding-left: 2px;
    width: 134px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    margin-bottom: 30px;
}

.gallery-pagination {
    /* margin-right: 10px; */
    text-align: center;
    color: #373850;
}

.nav-btn {
    position: relative;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    background-color: var(--color-medium-dark-shade-gray);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.nav-btn::before {
    content: "";
    position: absolute;
    top: calc(50% - 7px / 2);
    width: 7px;
    height: 7px;
    transform: rotate(45deg);
    transform-origin: center;
}


/* .gallery-prev {
    margin-right: 10px;
} */

.gallery-navigation__btn {
    transition: background-color .3s linear;
}

.gallery-navigation__btn:focus:focus-visible:focus-within:not(:active),
.gallery-navigation__btn:active {
    outline: 2px solid #000;
}

.gallery-navigation__btn:hover {
    background-color: var(--accent);
}

.gallery-navigation__btn:active {
    background-color: var(--color-shade-purple-blue);
}

.gallery-navigation__btn.swiper-button-disabled {
    cursor: auto;
    background-color: rgba(102, 102, 102, 0.5);
}

.gallery-navigation__btn.swiper-button-disabled:hover {
    background-color: rgba(102, 102, 102, 0.5);
}

.gallery-next::before {
    right: calc(50% - 4px / 2);
    border-top: 1px solid var(--color-white);
    border-right: 1px solid var(--color-white);
}

.gallery-prev::before {
    left: calc(50% - 4px / 2);
    border-left: 1px solid var(--color-white);
    border-bottom: 1px solid var(--color-white);
}

.gallery-slide {
    position: relative;
    overflow: hidden;
}

.gallery-slide::before {
    content: "";
    position: relative;
    z-index: 1;
    display: block;
    padding-top: calc(100% - 6px);
    border: 3px solid transparent;
    box-sizing: border-box;
    transition: background-color .3s ease, border-color .3s ease;
}

.gallery-slide::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding: 25px;
    box-sizing: border-box;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("../img/magnifier.svg");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    background-clip: content-box;
    transition: opacity .5s ease;
}

.gallery-slide:hover::after {
    opacity: 1;
}

.gallery-slide:focus,
.gallery-slide:focus-visible .gallery-slide:focus-within {
    outline: none;
}

.gallery-slide:focus::before {
    border-color: var(--color-shade-purple-blue);
}

.gallery-slide:active::before {
    border-color: var(--color-light-shade-purple-blue);
    background-color: rgba(194, 131, 243, 0.4);
}

.gallery-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-pagination {
    color: var(--color-white);
}

.choices {
    width: 100%;
    line-height: 32px;
    color: var(--color-white);
    transition: background-color .4s linear;
}

.choices[data-type*=select-one]::after {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-style: none;
    border-top: 1px solid;
    border-right: 1px solid;
    /* margin-left: 4px; */
    /* margin-bottom: 3px; */
    transform: rotate(135deg) translateY(50%);
    transition: transform .1s linear;
}

.choices[data-type*=select-one].is-open::after {
    border-color: var(--color-white);
    margin-top: 0px;
    transform: rotate(-45deg);
}

.choices__inner {
    border-radius: 6px;
    border: 1px solid var(--color-white);
    background-color: transparent;
    padding: 0 10px;
    min-height: 40px;
    font-size: 16px;
}

.choices[data-type*=select-one] .choices__inner {
    padding-bottom: 0;
}

.choices__list.choices__list--single .choices__placeholder {
    opacity: 1;
}

.choices__item.choices__item--choice.choices__placeholder.choices__item--selectable.is-highlighted {
    opacity: 0.5;
}

.choices__list--single {
    padding: 3px 16px 3px 4px;
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
    font-size: 16px;
}

.choices.is-focused,
.choices:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
}

.choices__list.choices__list--dropdown {
    background-color: #000;
    border-radius: 6px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted:hover {
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 1;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    border: none;
    background-color: var(--color-black);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable:not(:first-child) {
    border-top: 1px solid #f2f2f2;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted:not(:first-child) {
    border: none;
    border-top: 1px solid #f2f2f2;
}

.is-open .choices__inner {
    border-radius: 6px;
}

.is-selected {
    display: none;
}


/* catalog */

.catalog {
    padding-bottom: 0;
}

.catalog__text {
    max-width: 1080px;
    margin: 0 0 39px;
    font-size: 16px;
    line-height: 32px;
}

.catalog__painter {
    display: flex;
    flex-direction: column;
    max-width: 750px;
    margin-right: 50px;
    flex-shrink: 0;
}

.catalog__img {
    margin-bottom: 27px;
}

.catalog__painter-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    margin: 0 0 9px;
}

.catalog__painter-date {
    font-size: 12px;
    line-height: 16px;
    color: var(--color-medium-light-shade-gray);
    display: block;
    margin-bottom: 15px;
}

.catalog__painter-text {
    font-size: 16px;
    line-height: 32px;
    margin: 0;
}

.catalog__painter-link {
    font-weight: 600;
    line-height: 22px;
    color: var(--accent);
}

.catalog__list {
    width: 100%;
}

.ui-icon {
    display: none;
}

.catalog__list-item {
    border-top: 1px solid var(--color--gray);
    transition: border-top .3s linear;
}

.catalog__list-item:focus-visible {
    outline: none;
}

.catalog__list-date {
    transition: color .3s linear;
}

.catalog__list-item:focus:focus-visible .catalog__list-date {
    background-color: var(--accent);
    color: var(--color-white);
    outline: none;
}

.catalog__list-item:focus:focus-visible .catalog__nav-btn {
    background-color: var(--color-light-shade-purple-blue);
}

.catalog__list-item:hover {
    border-top: 1px solid var(--accent);
}

.catalog__list-item:hover .catalog__list-date {
    color: var(--accent);
}

.catalog__list-item:hover .catalog__nav-btn {
    background-color: var(--color-light-shade-purple-blue);
}

.catalog__list-item:hover+.catalog__list-item {
    border-top: 1px solid var(--accent);
}

.catalog__list-item:nth-last-child(1):hover {
    border-bottom: 1px solid var(--color-shade-purple-blue);
}

.catalog__list-content {
    /* display: none; */
    position: relative;
    height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    line-height: 32px;
    transition: opacity .5s linear, padding.5s linear;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(9, 32px);
    /* column-gap: 60px; */
    grid-auto-flow: column;
    /* grid-auto-rows: max-content; */
    padding-left: 10px;
}

.catalog__list-item.active .catalog__list-content {
    height: auto;
    opacity: 1;
    overflow: visible;
    padding: 25px 0px;
}

.catalog__list-content.catalog__list-pattern {
    margin-bottom: 0;
}

.catalog__list-item:nth-last-child(1) {
    border-bottom: 1px solid var(--color--gray);
    transition: border-bottom .3s linear;
}

.catalog__list-item.active,
.catalog__list-item.active+.catalog__list-item {
    border-top: 1px solid var(--color-shade-purple-blue);
}

.catalog__list-btn {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    padding: 32px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog__nav-btn {
    width: 50px;
    height: 50px;
    background-color: var(--color-light-shade-gray);
    transition: background-color .3s linear;
}

.catalog__nav-btn::after {
    content: "";
    position: absolute;
    width: 11.79px;
    height: 11.79px;
    left: calc(50% - 11.79px /2);
    top: calc(50% - 11.79px /2);
    transform: rotate(-45deg);
    border-bottom: 1px solid var(--color-black);
    border-left: 1px solid var(--color-black);
    transition: transform .3s linear;
}

.catalog__list-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 275px;
}

.catalog__list-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: var(--color-dark-shade-gray);
    margin: 0;
    margin-bottom: 5px;
}

.catalog__list-text {
    margin: 0;
    margin-bottom: 5px;
}

.catalog__list-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--accent);
    align-self: flex-start;
}

.catalog__list-pattern {
    display: flex;
    margin-bottom: 37px;
    padding-left: 10px;
}

.catalog__list-item.active .catalog__nav-btn {
    background-color: var(--color-light-shade-purple-blue);
    outline: 2px solid var(--accent);
}

.catalog__list-item.active .catalog__nav-btn::after {
    transform: rotate(135deg);
    top: 21px;
}

.catalog__list-pic {
    width: 275px;
    height: 189px;
    background-color: #b7b7b7;
    outline: 1px solid #b7b7b7;
    outline-offset: 10px;
    margin-right: 36px;
}

.catalog__list-autor {
    font-size: 16px;
    line-height: 32px;
    color: var(--color-dark-shade-gray);
    text-align: left;
    border-bottom: 1px solid transparent;
    transition: border-bottom .3s linear, color .3s linear;
}

.catalog__list-autor::before {
    top: 0;
    left: 1px;
    right: 1px;
    bottom: 0;
}

.catalog__list-autor:hover {
    color: var(--accent);
    border-bottom: 1px solid var(--accent);
}

.catalog__list-autor:active {
    background-color: transparent;
    border-bottom: 1px solid transparent;
}

.catalog__painter-item {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity .5s linear;
}

.catalog__painter-item--active {
    opacity: 1;
    height: 100%;
    overflow: visible;
}


/* event */

.event {
    padding-bottom: 0;
}

.swiper-object {
    position: relative;
}

.swiper-item {
    max-width: 350px;
    height: auto;
}

.swiper-item:not(:last-child) {
    margin-right: 50px;
}

.swiper-box {
    display: none;
}

.event__title {
    margin-bottom: 16px;
}

.event__inner {
    width: inherit;
    position: relative;
    overflow: hidden;
}

.event__item {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    height: auto;
}

.event__box {
    display: flex;
    flex-direction: column;
    height: auto;
    flex: 1;
    border: 1px solid var(--color--gray);
}

.event__box-content {
    padding: 15px 50px 38px 50px;
    display: flex;
    flex-direction: column;
    height: auto;
    flex: 1;
}

.event__box-name {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: var(--color-medium-light-shade-gray);
    margin-bottom: 13px;
}

.event__box-date {
    display: block;
}

.event__box-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    margin: 0 0 10px 0;
}

.event__box-text {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 64px;
}

.event__box-link {
    margin-top: auto;
    line-height: 32px;
    color: var(--accent);
    border-bottom: 1px solid var(--accent);
    align-self: flex-start;
}

.event__box-link:focus:focus-visible:focus-within {
    color: var(--color-white);
    border-bottom: 1px solid var(--color-white);
}

.event__box-link:hover {
    color: var(--color-shade-purple-blue);
    border-bottom: 1px solid var(--color-shade-purple-blue);
}

.event__box-link:active {
    color: var(--color-dark-shade-gray);
    border-bottom: 1px solid var(--color-dark-shade-gray);
}

.event__nav-btn {
    position: absolute;
    z-index: 1;
    top: 50%;
    width: 50px;
    height: 50px;
    transform: translateY(-50%) rotate(-90deg);
    background-color: var(--color-light-shade-gray);
    transition: box-shadow .2s linear, background-color .3s linear, opacity .3s linear;
    opacity: 1;
    outline: none;
}

.event__nav-btn::before {
    width: 11.79px;
    height: 11.79px;
    left: calc(50% - 11.79px /2);
    top: calc(50% - 11.79px /2);
    transform: rotate(-45deg);
    border-bottom: 1px solid var(--color-black);
    border-left: 1px solid var(--color-black);
}

.event__nav-btn:focus:focus-visible:focus-within {
    border: none;
    box-shadow: inset 0px 0px 0px 2px var(--accent);
}

.event__nav-btn:hover {
    background-color: var(--color-light-shade-purple-blue);
}

.event__nav-btn:active {
    border: none;
    box-shadow: inset 0px 0px 0px 2px var(--accent);
}

.event__swiper-next {
    right: -25px;
}

.event__swiper-prev {
    left: -25px;
    transform: translateY(-50%) rotate(90deg);
}

.event__nav-btn.swiper-button-disabled {
    opacity: 0;
}

.swiper-notification {
    display: none;
}


/* project  */

.project {
    padding-bottom: 0;
}

.project__text {
    max-width: 1079px;
    line-height: 32px;
    margin: 0;
    margin-bottom: 20px;
}

.project__tooltip {
    position: relative;
    display: inline-block;
    fill: transparent;
    transition: fill .3s linear;
}

.project__tooltip:before {
    display: block;
    content: '';
    position: absolute;
    opacity: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--accent);
    transform: translateX(-50%);
    left: 50%;
    z-index: 2;
    transition: opacity .3s linear;
}

.project__tooltiptext {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: max-content;
    max-width: 264px;
    bottom: 100%;
    background-color: var(--accent);
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    padding: 8px 11px;
    position: absolute;
    z-index: 1;
    transform: translateX(-50%);
    left: 50%;
    transition: opacity .3s linear, visibility .3s linear;
}

.project__tooltip:focus:focus-visible:focus-within {
    outline: none;
    fill: var(--color-light-shade-purple-blue);
}

.project__tooltip:hover .project__tooltiptext,
.project__tooltip:hover::before {
    visibility: visible;
    opacity: 1;
}

.project__tooltip:hover {
    fill: var(--color-light-shade-purple-blue);
}

.project__tooltip:active {
    fill: var(--accent);
    stroke: white;
}

.project__tooltip:active svg path #color {
    fill: var(--color-white);
}

.project__link {
    color: var(--accent);
    border-bottom: 1px solid transparent;
    transition: border-bottom .3s linear;
}

.project__link:focus:focus-within:focus-visible {
    color: var(--color-white);
}

.project__link:hover {
    color: var(--accent);
    border-bottom: 1px solid var(--accent);
}

.project__link:active {
    color: var(--color-shade-purple-blue);
    border-bottom: 1px solid var(--color-shade-purple-blue);
}

.project__partners {
    display: inline-block;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 23px;
}

.project__object {
    position: relative;
}

.project__swiper {
    overflow: hidden;
    max-width: 1450px;
    margin: 0 auto;
}

.project__slide {
    max-width: 450px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    box-shadow: inset 0px 0px 0px 1px var(--color--gray);
    transition: box-shadow .3s linear;
}

.project__slide-img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    opacity: 0.3;
    transition: filter .3s linear, opacity .3s linear;
}

.project__slide:focus:focus-visible:focus-within,
.project__slide:active {
    outline: none;
    box-shadow: inset 0px 0px 0px 1px var(--accent);
}

.project__slide:hover .project__slide-img {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
    opacity: 1;
}

.project__btn-prev,
.project__btn-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--color-light-shade-gray);
    transition: box-shadow .3s linear, background-color .3s linear;
}

.project__btn-next {
    right: 0;
}

.project__btn-next::before {
    right: calc(50% - 4px / 2);
    border-top: 1px solid var(--color-black);
    border-right: 1px solid var(--color-black);
}

.project__btn-prev::before {
    left: calc(50% - 4px / 2);
    border-left: 1px solid var(--color-black);
    border-bottom: 1px solid var(--color-black);
}

.project__btn:focus-visible {
    outline: none;
    box-shadow: inset 0px 0px 0px 2px var(--accent);
}

.project__btn:hover {
    background-color: var(--color-light-shade-purple-blue);
}

.project__btn:active:not(:focus-visible) {
    background-color: var(--color-light-shade-purple-blue);
    box-shadow: inset 0px 0px 0px 2px var(--accent);
}

.project__btn.swiper-button-disabled {
    cursor: default;
}

.project__btn.swiper-button-disabled::before {
    border-color: var(--color--gray);
}

.swiper-button-disabled:focus {
    box-shadow: none;
}

.swiper-button-disabled:hover {
    background-color: var(--color-light-shade-gray);
}

.project__btn.swiper-button-disabled:active {
    background-color: var(--color-light-shade-gray);
    box-shadow: none;
}

.project__icon {
    width: 16px;
    height: 16px;
    position: relative;
    top: 2px;
}


/* contact*/

.contact {
    padding-bottom: 0;
}

.contact__inner {
    padding: 37px 0;
    align-items: center;
    justify-content: space-between;
}

.contact__input {
    border: 1px solid var(--color-dark-shade-gray);
    border-radius: 100px;
    width: 270px;
    padding: 15px 14px 15px 23px;
    margin-right: 20px;
}

.contact__input::placeholder {
    color: var(--color-medium-light-shade-gray);
}

.contact__input.is-invalid {
    outline: none;
    border: 1px solid var( --color-red);
}

.contact__input:focus-visible {
    outline: none;
    background-color: var(--color-light-shade-gray);
}

.contact__btn {
    box-shadow: 0 0 0 2px var(--accent) inset;
    border-radius: 100px;
    padding: 12px 35px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: var(--accent);
    transition: color .3s linear, background-color .3s linear;
}

.contact__btn:focus-visible {
    color: var(--color-white);
    background-color: var(--accent);
}

.contact__btn:hover {
    color: var(--color-white);
    background-color: var(--color-medium-light-shade-purple-blue);
}

.address {
    line-height: 24px;
    font-style: normal;
}

.contact__form {
    width: 100%;
    max-width: 909px;
}

.form__box {
    position: relative;
}

.contact__strong {
    margin: 0;
    font-size: 25px;
    line-height: 31px;
    color: var(--color-dark-shade-gray);
    margin-bottom: 6px;
}


/*footer*/

.footer {
    background-color: var(--color-black);
    ;
}

.footer__inner {
    justify-content: space-between;
    align-items: center;
    padding: 48px 0;
}

.footer__link {
    font-size: 0;
    outline: none;
}

.footer__link:not(:last-child) {
    margin-right: 20px;
}

.footer__icon {
    width: 45px;
    height: 45px;
    fill: var(--color--gray);
    transition: fill .3s linear;
}

.footer__link:focus-visible:focus:focus-within .footer__icon,
.footer__link:hover .footer__icon {
    fill: var(--color-white);
    outline: none;
}

.footer__link:active .footer__icon {
    fill: var(--accent);
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s linear, visibility .4s linear;
}

.popup.open {
    opacity: 1;
    visibility: visible;
}

.popup.open .popup__content {
    opacity: 1;
    transform: translate(0, 0);
    transition: opacity .4s linear, transform .4s linear;
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.popup__content {
    background-color: var(--color-white);
    width: 100%;
    max-width: 900px;
    min-height: 500px;
    display: flex;
    position: relative;
    transition: opacity .4s linear, transform.4s linear;
    opacity: 0;
    transform: translate(0px, -200%);
}

.popup__close {
    position: absolute;
    /* content: ''; */
    right: 20px;
    top: 20px;
    font-size: 0;
}

.popup__close:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.popup__picture {
    min-width: 400px;
}

.popup__img {
    max-width: 400px;
    /* width: 100%; */
    height: 100%;
}

.popup__box {
    padding: 50px;
    /* max-width: 402px; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.popup__title {
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    color: var(--color-dark-shade-gray);
}

.popup__desc {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-dark-shade-gray);
}

.popup__date {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--color-medium-light-shade-gray);
    margin-bottom: 39px;
}

.popup__text {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-dark-shade-gray);
}


/* 
.catalog__list-btn::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: var(--color-light-shade-gray);
    border-radius: 50%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.catalog__list-btn::after {
    content: "";
    position: absolute;
    width: 11.79px;
    height: 11.79px;
    transform: rotate(-45deg);
    right: 19px;
    top: 39px;
    border-bottom: 1px solid var(--color-black);;
    border-left: 1px solid var(--color-black);;
} */


/* .choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    background-color: rgba(255, 255, 255, .2);
} */


/* .choices__button {
    background-color: var(--color-white);
} */


/* sprite  */

.header__icon {
    width: 18px;
    height: 13px;
    margin-right: 2px;
    fill: var(--color-white);
    transition: fill .2s linear;
    overflow: hidden;
}

.search {
    margin-right: 9px;
    width: 22px;
    height: 21px;
}

.social {
    min-width: 275px;
}

.social__link {
    font-size: 0;
    transition: opacity .3s linear;
}

.social__link:focus-visible,
.social__link:hover:not(:active) {
    opacity: 0.5;
    outline: none;
}

.social__link:active {
    opacity: none;
    stroke: var(--accent);
}

.social__icon {
    width: 40px;
    height: 40px;
}

.social__item:not(:last-child) {
    margin-right: 20px;
}

.contact__map {
    margin: 0 auto;
    position: relative;
    min-height: 700px;
    width: 100%;
    /* max-width: 1920px; */
    /* width: calc(1920 / 1600 * 100% + ((100vw - 100%) / 2)); */
    /* 1078 - в данном случае это ширина карты внутри контейнера, её можно менять */
    /* margin-right: calc((-100vw + 100%) / 2); */
    margin-top: -1px;
    transition-property: width, height, padding;
    transition-duration: 100ms;
}

.contact__map-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

[class*="ground-pane"] {
    filter: grayscale(1);
}

.is-label-invalid.just-validate-error-label {
    position: absolute;
    top: -15px;
    left: 20px;
}